<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <link name="world" />

<!--   <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint> -->

  <joint name="pedestal_joint" type="fixed">
    <!-- <origin rpy="0 0 0" xyz="0.5 1.8 0.0"/> -->
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    <parent link="world"/>
    <child link="pedestal_link"/>
  </joint>
  
  <link name="pedestal_link">
    <visual>
      <origin xyz="0 0 0.475"/>
      <geometry>
        <box size="0.3 0.3 0.95"/>
      </geometry>
      <material name="pedestal_color">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.475"/>
      <geometry>
        <box size="0.3 0.3 0.95"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="500"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>
  <gazebo reference="pedestal_link">
    <material>Gazebo/DarkGray</material>
  </gazebo>

  <joint name="ur5_to_pedestal" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <!-- <origin rpy="0 0 0" xyz="0.5 1.8 0.95"/> -->
    <origin rpy="0 0 0" xyz="0.0 0.0 0.95"/>
  </joint>

</robot>
